.input-file {
   text-align: center;
   width: 100%;
   display: block;
}

input[type="file"] {
    display: none;
}

.select-area {
    border: 1px solid #ccc;
    display: block;
    padding: 1rem 2rem;
    border-radius: 3px;
    cursor: pointer;
}

.image-display {
   max-width: 1000px;
   max-height: 600px;
   border-radius: 5px;
}

.canvas-display {
   width: 1000px;
   height: 600px;
   border-radius: 5px;
}

.top-margin {
    margin-top: 20px;
}

.margin-image {
    margin: 10px;
}

.add-margin {
    margin: 5px;
}

.no-margin {
    margin: 0 !important;
    padding: 0 !important;
}

.image-move-label {
    margin: 5px;
}
